<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="path" content="<%= pathData %>">
    <title>txt to path</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/939680/MorphSVGPlugin.min.js"></script>
    <script type="module" src="./script.js"></script>
</head>

<body style="margin: 0; padding: 0;">
    <svg width="800" height="500" viewBox="0 0 2000 2000">
        <path id="clone">
    </svg>
</body>

</html>